@import "secondColors";

$bgc: #F8FAFF;
$text-color: #002B36;
$dark-color: #073642;
$red-color: #CB4B16;
$green-color: #1EA198;
$lightGreen-color: #28bbaf;
$white-color: #fff;
$gray-color: #B5C3C7;
$dark-grey-color: #839496;
